/* 
    Document   : style
    Created on : 22 avr. 2013, 10:54:52
    Author     : Loic
    Description:
        Feuille css page.
*/

html{
    background-color: black;
    height: 1000px;
}

body{
    width: 750px;
    height: 1000px;
    margin: auto;
}

header{
    width: 750px;
    height: 100px;
    margin: auto;
}

section{
    margin: auto;
    margin-top: 10px;
}

article{
    width: 750px;
    height: 1250px;
    background: white;
}

#t1{
    float: right;
    width: 580px;
    padding-right: 10px;
    text-align: justify;
    background: white;
}

h1{
    color: red;
    font-size: large;
}

h3{
   color: blue; 
   font-size: medium;
}

h2{
    font-size: x-large;
    text-decoration: underline;
    color: red;
}

#titre1{
    float: right;
    width: 500px;
    padding-right: 10px;
}

img{
    margin-top: 10px;
    margin-right: 3px;
    margin-left: 3px;
}

#logo{
    margin: auto
}