/* 
    Document   : style
    Created on : 22 avr. 2013, 10:54:52
    Author     : Loic
    Description:
        Feuille css page.
*/

html{
    background-color: black;
    height: 950px;
}

body{
    width: 700px;
    height: 950px;
    margin: auto;
}

header{
    width: 700px;
    height: 100px;
    margin: auto;
}

section{
    margin: auto;
    margin-top: 10px;
}

article{
    width: 700px;
    height: 950px;
    background: white;
}

#t1{
    float: right;
    width: 500px;
    height: 950px;
    padding-right: 15px;
    text-align: justify;
    background: white;
}

h1{
    color: red;
}

h3{
   color: blue; 
   font-size: medium;
}